<div class="artboard-presentation" style="width:1920px; height:1080px; background-image:url('https://s3.amazonaws.com/riseclientcontent/marchmadness2015/t-ncaa2015-design1-background.jpg')">

  <div class="ph-block" ng-click="factory.editing = !factory.editing" ng-class="{'edit-mode' : factory.editing}" style="top:40px; left:40px; z-index:200; width:342px; height:268px;">
    <img src="https://s3.amazonaws.com/riseclientcontent/marchmadness2015/t-ncaa2015-design2-logo1.png">
  </div><!--ph-block-->

  <div class="ph-block ng-hide" ng-show="addPh" ng-click="factory.editing = !factory.editing" ng-class="{'edit-mode' : factory.editing}" style="top:70px; left:337px; z-index:400; width:346px; height:246px;">
    <img src="https://s3.amazonaws.com/riseclientcontent/marchmadness2015/t-ncaa2015-design2-logo2.png">
  </div><!--ph-block-->

  <div class="ph-overlay" ng-class="{'active' : factory.editing}"></div>
</div><!--artboard-presentation-->