<div class="artboard-presentation" style="width:1920px; height:1080px; background-size:60%; background-position:center; background-repeat:no-repeat; background-image:url('https://s3.amazonaws.com/Rise-Images/Experimental/thanks.png')">

  <div class="ph-block" ng-click="factory.editing = !factory.editing" ng-class="{'edit-mode' : factory.editing}" style="top:70px; left:40px; z-index:200; width:342px; height:268px;">
  </div><!--ph-block-->

  <div class="ph-overlay" ng-class="{'active' : factory.editing}"></div>
  
</div><!--artboard-presentation-->