<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()">
    <i class="fa fa-times"></i>
  </button>
  <h3 class="modal-title">Add Content</h3>
</div>


<div class="modal-body">          


 <search-filter filter-config="filterConfig" search="search" do-search="doSearch"></search-filter>
  <div class="content-box half-top">
    <div class="scrollable-list" scrolling-list="load()" rv-spinner rv-spinner-key="presentation-list-loader" rv-spinner-start-active="0" style="overflow-x:hidden">



    <div id="products-grid" class="products-grid clearfix">
	 <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" ng-click="dismiss()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" ng-click="dismiss()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
        


	</div>


<!-- END PRODUCTS GRID
 -->

 </div>
 </div>
</div><!--modal-body-->


<div class="modal-footer">

 <!--  <button class="btn btn-primary" ng-click="apply()">Apply <i class="fa fa-check icon-right"></i></button>
  <button class="btn btn-default" ng-click="dismiss()">Cancel <i class="fa fa-times icon-right"></i></button> -->
</div>  
