<div class="container-fluid text-right editor-footer">
  <div class="footer-content">
    <div class="pull-left">
      <!-- Indicates delete or destructive action -->
      <button id="deleteButton" type="button" class="btn btn-danger btn-fixed-width" ng-show="factory.presentation.id" ng-click="confirmDelete()">
        {{'common.delete' | translate}} <i class="fa fa-white fa-trash-o icon-right"></i>
      </button>
    </div>
    
    <span class="add-right" ng-show="factory.presentation.id">
      <last-revised revision-status="factory.presentation.revisionStatus" change-date="factory.presentation.changeDate" changed-by="factory.presentation.changedBy"></last-revised>
    </span>

    <button id="restoreButton" class="btn btn-default" ng-show="factory.isRevised()" ng-click="factory.restore()">Restore</button>

    <!-- Indicates a successful or positive action -->
    <button id="saveButton" type="submit" class="btn btn-primary btn-fixed-width" ng-click="factory.save()">
      {{ factory.savingSchedule ? ('common.saving' | translate) : ('common.save' | translate)}} 
      <i class="fa fa-check icon-right"></i>
    </button>
    <span class="add-left"></span>

    <button id="publishButton" class="btn btn-primary" ng-show="factory.isRevised()" ng-click="factory.publish()">Publish</button>

    <span class="add-left"></span>
    <!-- Indicates cancel or non-destructive action -->
    <button id="cancelButton" ui-sref="editor.list" class="btn btn-default btn-fixed-width">
      {{'common.cancel' | translate}}
      <i class="fa fa-times icon-right"></i>
    </button>

  </div>
</div><!--container-fluid-->
