

<div>
    <div id="products-grid" class="products-grid clearfix" style="margin-left:220px; margin-right: 44px;">
	 <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
         <div class="product-container">
            <div class="product">
                <div itemscope="">
                    <a href="" class="product-thumb" itemprop="url">
                        <span class="info"></span>
                        <img class="img-responsive" ng-src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png" width="310" height="240" src="https://s3.amazonaws.com/Store-Products/Rise-Vision/widget_video_folder_image_new.png">
                    </a>
                     <h3 itemprop="title">Video Folder Widget</h3>

                    <div class="product-details">
                        <h3 itemprop="title">Video Folder Widget</h3>

                        <p class="product-description" ellipsis="">Show videos in a folder from Rise Storage.</p>
                        <button class="btn btn-primary btn-block" onclick="clearStore()">
                            <strong>Add</strong>
                            <i class="fa fa-plus icon-right"> </i>
                         </button>
                         <button class="btn btn-default btn-block" onclick="clearStore()">
                            <strong>More Info</strong>
                         </button>


                        <!--  <p class="product-pricing">Starting at <span class="price pointer">$0</span>&nbsp;Free</p> -->
                    </div>
                   
                </div>
            </div>
        </div>
        


	</div>
</div>

<!-- END PRODUCTS GRID
 -->