<div class="html-editor">
			<pre><code class="source-code">
      <span>
      &lt;div class="container"&gt;

  &lt;div class="page-header"&gt;
    &lt;h1 class="page"&gt;Building a Demo Page for Your Component&lt;/h1&gt;
  &lt;/div&gt;

  &lt;p&gt;To build a demo for your component start by downloading the &lt;code&gt;example.html&lt;/code&gt; file from the link below. Include this file within your component repository eg: &lt;code&gt;my-component/style-guide-demo/example.html&lt;/code&gt;. The Style-Guide is set up to include all components and their dependencies using Bower.&lt;/p&gt;

  &lt;p&gt;The Style-Guide is a simple AngularJS app where each component is provided it's own route. The &lt;code&gt;example.html&lt;/code&gt; file in your component repository will be used as the template for this route. Therefore, you can maintain the component and the demo independent of the Style-Guide.&lt;/p&gt;

  &lt;p class="text-center"&gt;&lt;a href="https://github.com/Rise-Vision/style-guide-docs/blob/master/example.html" target="_blank" class="btn btn-lg btn-outline btn-success"&gt;get the example.html source on github&lt;/a&gt;&lt;/p&gt;

  &lt;h2&gt;Sections&lt;/h2&gt;
  &lt;p&gt;The demo must include the following:&lt;/p&gt;

  &lt;ul&gt;
    &lt;li&gt;A tile - name of the component&lt;/li&gt;
    &lt;li&gt;Short introduction&lt;/li&gt;
    &lt;li&gt;List of dependencies&lt;/li&gt;
    &lt;li&gt;Code snippet of how to use the component&lt;/li&gt;
    &lt;li&gt;Code snippet of sample data that is required by the component&lt;/li&gt;
    &lt;li&gt;A functional demo of the component&lt;/li&gt;
  &lt;/ul&gt;

  &lt;h2&gt;Code Snippets&lt;/h2&gt;
  &lt;p&gt;We are using &lt;a target="_blank" href="https://github.com/pc035860/angular-highlightjs"&gt;angular-highlightjs&lt;/a&gt; for displaying code snippets with syntax highlighting. You can utilize the &lt;code&gt;hljs&lt;/code&gt; directive to wrap a block of inline code. The other, recommended, option is to use inline angular templates and use the &lt;code&gt;include&lt;/code&gt; attribute. The inline templates preserve white-space and indentation where as the wrapper method doesn't.&lt;/p&gt;

  &lt;div class="row"&gt;
    &lt;div class="col-md-6"&gt;
      &lt;hljs include="'code-snippet-example-1'"&gt;&lt;/hljs&gt;
    &lt;/div&gt;
    &lt;div class="col-md-6"&gt;
      &lt;hljs include="'code-snippet-example-2'"&gt;&lt;/hljs&gt;
    &lt;/div&gt;
  &lt;/div&gt;

&lt;script type="text/ng-template" id="code-snippet-example-1"&gt;
&lt;hljs&gt;
  Code goes here ....
&lt;/hljs&gt;
&lt;/script&gt;

&lt;script type="text/ng-template" id="code-snippet-example-2"&gt;
&lt;!--  Example of how to use inline
  templates with the directive --&gt;
&lt;hljs include="'code-snippet-template'"&gt;&lt;/hljs&gt;

&lt;!-- Inline template with code snippet --&gt;
&lt;script type="text/ng-template" id="code-snippet-template"&gt;
  Code goes here ....
&lt; /script&gt;
&lt;/script&gt;

  &lt;h2&gt;Updating the style guide with your new component demo&lt;/h2&gt;
  &lt;p&gt;The style guide must be set up to include the new component by updating the following
  files:&lt;/p&gt;
  &lt;ul&gt;
    &lt;li&gt;bower.json&lt;/li&gt;
    &lt;li&gt;js/controllers.json&lt;/li&gt;
  &lt;/ul&gt;

  &lt;h4&gt;bower.json&lt;/h4&gt;
  &lt;p&gt;Add your git repository url to the list of dependencies then add your repository to the
  overrides section.  This section specifies the exact files that will be used and they are
  populated via gulp pickFromBower&lt;p&gt;

  &lt;h4&gt;js/controllers.json&lt;/h4&gt;
  &lt;p&gt;Add your component to the $scope.uiComponents list.  The template specifies the libs
  target containing your component files that are placed via gulp pickFromBower&lt;/p&gt;

  &lt;h2&gt;Testing your style guide page locally&lt;/h2&gt;
  &lt;p&gt;First, set up a virtual bower link so that you don't have to run bower update when
  you make changes to your component.&lt;/p&gt;
  &lt;hljs&gt;
    cd /path/to/your/repo
    bower link
    cd /path/to/your/local/style-guide
    bower link your-component-name name-in-style-guide
  &lt;/hljs&gt;

  &lt;p&gt;Now set up a watcher in the gulp file watching for changes to your example page&lt;/p&gt;
  &lt;hljs&gt;
  gulp.watch('./bower_components/storage-selector/style-guide-demo/example.html', ['pickFromBower']);
  &lt;/hljs&gt;
  &lt;p&gt;The bower_components target is actually symlinking to your components repo directory
  as per the previous step&lt;/p&gt;

  &lt;p&gt;Now run gulp dev and start modifying your example page.  Once you're done you can
  optionally remove the change to the gulpfile and submit a pull request for both repositories.
  On subsequent modifications to your example page a pull request to the style guide is not
  necessary.  Just let the maintainer know and they will run bower update to pull in your
  new example page and update the master and gh-pages branches.&lt;/p&gt;

  &lt;h2&gt;A note on github io pages&lt;/h2&gt;
  &lt;p&gt;After merging new changes into the style guide they might now show up immediately
  on the github.io domain.  A delay of five minutes or so is common.&lt;/p&gt;
&lt;/div&gt;
   </span>
      </code>
			</pre>
</div>