<form role="form" name="placeholderFields" novalidate>

  <div class="form-group">
    <label class="control-label">Name</label>
    <div class="input-group checkbox-addon">
      <input type="text" class="form-control" placeholder="Placeholder Name" ng-model="factory.placeholder.id">
      <span class="input-group-addon">
        <label class="control-label">
          <input type="checkbox" ng-model="factory.placeholder.visibility"> Visible
        </label>
      </span>
    </div>
  </div><!--form-group-->

  <div class="form-group ph-transform">

    <div class="row sm-gutter">
      <div class="col-sm-6">	<div class="input-group">
        <label class="control-label input-group-addon">Width</label>
        <input class="form-control" type="text" ng-model="factory.placeholder.width">
        <span class="input-group-addon">{{factory.placeholder.widthUnits}}</span>
      </div></div>
      <div class="col-sm-6"><div class="input-group">
        <label class="control-label input-group-addon">Top(X)</label>
        <input class="form-control" type="text" ng-model="factory.placeholder.top">
        <span class="input-group-addon">{{factory.placeholder.topUnits}}</span>
      </div></div>
    </div>

    <div class="row sm-gutter half-top">
      <div class="col-sm-6">	<div class="input-group">
        <label class="control-label input-group-addon">Height</label>
        <input class="form-control" type="text" ng-model="factory.placeholder.height">
        <span class="input-group-addon">{{factory.placeholder.heightUnits}}</span>
      </div></div>
      <div class="col-sm-6"><div class="input-group">
        <label class="control-label input-group-addon">Left(Y)</label>
        <input class="form-control" type="text" ng-model="factory.placeholder.left">
        <span class="input-group-addon">{{factory.placeholder.leftUnits}}</span>
      </div></div>
    </div>

  </div><!--form-group-->


  <div class="form-group">
    <label class="control-label add-right">Z Order</label>
    <div class="row sm-gutter">
      <div class="col-sm-6">
        <input type="text" class="form-control" ng-model="factory.placeholder.zIndex">
      </div><!--col-->

      <div class="col-sm-3">
      </div><!--col-->
    </div><!--row-->

  </div><!--form-group-->

  <div class="form-group">
    <label class="control-label">Background</label>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="rgba(0,0,0,0.4)">
      <span class="input-group-addon"><img style="height:16px" src="img/color-wheel.png"></span>
    </div><!--input-group-->

    <label class="control-label half-top">
      <input type="checkbox" ng-model="useImage" class="ng-pristine ng-valid"> Use Image
    </label>

    <!-- ngIf: useImage --><!--ng-if-->
    <hr>
  </div><!--form-group-->


  <div class="form-group">
    <label class="control-label add-right">Timeline</label>
    <label class="control-label control-label-secondary"><input ng-init="always = true" ng-model="always" ng-checked="always" type="checkbox" class="ng-pristine ng-valid" checked="checked"> Always</label>
    <!-- ngIf: !always -->
  </div>
  <div class="form-group">
    <label class="control-label add-right">Distribution</label>
    <label class="control-label control-label-secondary"><input type="checkbox" ng-init="allDisplays = true" ng-model="allDisplays" ng-checked="allDisplays" class="ng-pristine ng-valid" checked="checked"> All Displays</label>
    <!-- ngIf: !allDisplays -->
  </div>
</form>
