<button class="btn btn-primary btn-block" onclick="loadStore()" ng-click="open('lg','content.html')">Add Playlist Content <i class="fa fa-plus icon-right"></i></button>
<div class="content-box half-top">
  <table class="table-2 table-hover">
    <tbody>
    <tr class="clickable-row" ng-repeat="item in factory.getItems() track by $index">
      <td>
        <div class="pull-right">
          <button class="btn btn-sm btn-default" ng-show="item.type === 'widget'" ng-click="widgetModalFactory.showWidgetModal(item)"><i class="fa fa-cog"></i></button>
          <button class="btn btn-sm btn-default" ng-click="remove(item)"><i class="fa fa-trash-o"></i></button>
        </div>
        <div ng-click="edit(item)">
          <p style="line-height:30px" class="remove-bottom">{{item.name}}</p>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="content-box-body" ng-hide="factory.getItems().length">
    <p class="text-center text-muted">No Playlist Items</p>
  </div>
</div>
