<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()">
    <i class="fa fa-times"></i>
  </button>
  <h3 class="modal-title">Presentation Properties</h3>
</div>
<div class="modal-body">



  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control" placeholder="Name">
    <p class="remove-top text-muted half-top"><small>ID: 1f81244a-f434-4e3f-8551-6a0159cd164a</small></p>
  </div><!--form-control-->



  <button class="btn btn-default">Copy Presentation <i class="fa fa-copy icon-right"></i></button>
  <hr>
  <div class="form-group">
    <label>Resolution</label>
    <select class="form-control" ng-model="myColor" ng-options="color.name for color in colors"></select>


    <div class="animated fadeIn half-top" ng-if="myColor.name == 'Custom'">

      <div class="row ph-transform sm-gutter">
        <div class="col-sm-6">

          <div class="input-group">
            <label class="input-group-addon">Width</label>
            <input class="form-control" type="text">
            <span class="input-group-addon">px</span>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="input-group">
            <label class="input-group-addon">Height</label>
            <input class="form-control" type="text">
            <span class="input-group-addon">px</span>
          </div><!--input-group-->

        </div>
      </div><!--row-->


    </div><!--ng-if-->
  </div><!--form-group-->

  <div class="form-group hidden">

    <label class="control-label">Background</label>
    <select class="form-control" ng-model="myBg" ng-options="color.name for color in backgroundOptions"></select>


    <div ng-if="myBg.name == 'Color Fill'" class="input-group half-top">
      <input class="form-control" type="text" placeholder="rgba(0,0,0,0.4)">
      <span class="input-group-addon"><img style="height:16px" src="img/color-wheel.png"></span>
    </div><!--input-group-->

    <div ng-if="myBg.name == 'Image Fill'" class="half-top">
      <div class="input-group">
        <input class="form-control" type="text" placeholder="rgba(0,0,0,0.4)">
        <span class="input-group-addon"><img style="height:16px" src="img/color-wheel.png"></span>
      </div><!--input-group-->
      <div class="input-group half-top">
        <input class="form-control" type="text" placeholder="http://">
        <span class="input-group-addon"><img style="height:16px" src="img/storage.png"></span>
      </div><!--input-group-->

      <label class="control-label half-top">
        <input type="checkbox"> Remove Validation
      </label>

      <select class="form-control half-top">
        <option>Top Left</option>
      </select>

      <label class="control-label half-top">
        <input type="checkbox"> Scale to Fit
      </label>
      <hr>
    </div><!--input-group-->
  </div><!--form-group-->

  <div class="form-group">
    <label class="control-label">Background</label>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="rgba(0,0,0,0.4)">
      <span class="input-group-addon"><img style="height:16px" src="img/color-wheel.png"></span>
    </div><!--input-group-->

    <label class="control-label half-top">
      <input type="checkbox" ng-model="useImage"> Use Image
    </label>

    <div ng-if="useImage">
      <div class="input-group half-top">
        <input class="form-control" type="text" placeholder="http://">
        <span class="input-group-addon"><img style="height:16px" src="img/storage.png"></span>
      </div><!--input-group-->

      <label class="control-label half-top">
        <input type="checkbox"> Remove Validation
      </label>

      <select class="form-control half-top">
        <option>Top Left</option>
      </select>

      <label class="control-label half-top">
        <input type="checkbox"> Scale to Fit
      </label>
    </div><!--ng-if-->
    <hr>
  </div><!--form-group-->


  <div class="form-group">
    <label class="control-label">Play Until Done Placeholder</label>
    <select class="form-control">
      <option>ph1</option>
    </select>
  </div><!--form-group-->



  <div class="form-group">
    <label class="control-label">
      <input type="checkbox"> Hide Mouse Pointer
    </label>
  </div>


</div><!--modal-body-->
<div class="modal-footer">

  <button class="btn btn-primary" ng-click="apply()">Apply <i class="fa fa-check icon-right"></i></button>
  <button class="btn btn-default" ng-click="dismiss()">Cancel <i class="fa fa-times icon-right"></i></button>
</div>