<div class="artboard-sidebar active" ng-class="{'active' : default, 'move' : factory.editing}" ng-init="default = 'true'">

  <div class="artboard-sidebar-body">
    
    <h4>Placeholders</h4>
    <placeholders-list></placeholders-list>
    
  </div><!--content-box-body-->
</div><!--artboard-sidebar-->


<div class="artboard-sidebar" ng-class="{'active' : factory.editing}">
  <div class="artboard-sidebar-body">

    <a href="" class="btn btn-default pull-left add-right" ng-click="factory.editing = false"><i class="fa fa-angle-left icon-left"></i>Back</a>
    <h4>Edit Placeholder</h4>

    <div class="btn-group filters btn-group-justified add-bottom" role="group" aria-label="...">
      <a href="" class="btn btn-default active" ng-class="{'active' : !showPlaylist}" ng-click="showPlaylist=false">Properties</a>
      <a href="" class="btn btn-default" ng-class="{'active' : showPlaylist}" ng-click="showPlaylist=true">Playlist</a>
    </div>

    <div class="ph-playlist animated fadeIn ng-hide" ng-show="showPlaylist">
      <button class="btn btn-primary btn-block" ng-click="open('lg','content.html')">Add Playlist Content <i class="fa fa-plus icon-right"></i></button>
      <div class="content-box half-top">
        <table class="table-2 table-hover ng-hide" ng-show="StatusID == 2">
          <tbody>


          <tr class="clickable-row">
            <td>
              <div class="pull-right">
                <button class="btn btn-sm btn-default" ng-click="open('lg','widget.html')"><i class="fa fa-cog"></i></button>
                <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
              </div>
              <div ng-click="open('lg','plSettings.html')">
                <p style="line-height:30px" class="remove-bottom">Google Spreadsheet</p>
              </div>
            </td>
          </tr>

          <tr class="clickable-row">
            <td>
              <div class="pull-right">
                <button class="btn btn-sm btn-default" ng-click="open('lg','widget.html')"><i class="fa fa-cog"></i></button>
                <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
              </div>
              <div ng-click="open('lg','plSettings.html')">
                <p style="line-height:30px" class="remove-bottom">Video Folder Widget</p>
              </div>
            </td>
          </tr>


          </tbody>
        </table>
        <div class="content-box-body" ng-hide="StatusID == 2">
          <p class="text-center text-muted">No Playlist Items</p>
        </div>
      </div>
    </div>

    <div class="ph-settings" ng-hide="showPlaylist">
      <div class="form-group">
        <label class="control-label">Name</label>
        <div class="input-group checkbox-addon">
          <input type="text" class="form-control" placeholder="Placeholder Name" value="Placeholder 1">
          <span class="input-group-addon"><label class="control-label"><input type="checkbox"> Visible</label></span>
        </div>
      </div><!--form-group-->

      <div class="form-group ph-transform">

        <div class="row sm-gutter">
          <div class="col-sm-6">	<div class="input-group">
            <label class="control-label input-group-addon">Width</label>
            <input class="form-control" type="text" value="200">
            <span class="input-group-addon">px</span>
          </div></div>
          <div class="col-sm-6"><div class="input-group">
            <label class="control-label input-group-addon">Top(X)</label>
            <input class="form-control" type="text" value="20">
            <span class="input-group-addon">px</span>
          </div></div>
        </div>

        <div class="row sm-gutter half-top">
          <div class="col-sm-6">	<div class="input-group">
            <label class="control-label input-group-addon">Height</label>
            <input class="form-control" type="text" value="200">
            <span class="input-group-addon">px</span>
          </div></div>
          <div class="col-sm-6"><div class="input-group">
            <label class="control-label input-group-addon">Left(Y)</label>
            <input class="form-control" type="text" value="202">
            <span class="input-group-addon">px</span>
          </div></div>
        </div>

      </div><!--form-group-->


      <div class="form-group">
        <label class="control-label add-right">Z Order</label>
        <div class="row sm-gutter">
          <div class="col-sm-6">
            <input type="text" class="form-control" value="100">
          </div><!--col-->

          <div class="col-sm-3">
          </div><!--col-->
        </div><!--row-->

      </div><!--form-group-->

      <div class="form-group">
        <label class="control-label">Background</label>
        <div class="input-group">
          <input class="form-control" type="text" placeholder="rgba(0,0,0,0.4)">
          <span class="input-group-addon"><img style="height:16px" src="img/color-wheel.png"></span>
        </div><!--input-group-->

        <label class="control-label half-top">
          <input type="checkbox" ng-model="useImage" class="ng-pristine ng-valid"> Use Image
        </label>

        <!-- ngIf: useImage --><!--ng-if-->
        <hr>
      </div><!--form-group-->


      <div class="form-group">
        <label class="control-label add-right">Timeline</label>
        <label class="control-label control-label-secondary"><input ng-init="always = true" ng-model="always" ng-checked="always" type="checkbox" class="ng-pristine ng-valid" checked="checked"> Always</label>
        <!-- ngIf: !always -->
      </div>
      <div class="form-group">
        <label class="control-label add-right">Distribution</label>
        <label class="control-label control-label-secondary"><input type="checkbox" ng-init="allDisplays = true" ng-model="allDisplays" ng-checked="allDisplays" class="ng-pristine ng-valid" checked="checked"> All Displays</label>
        <!-- ngIf: !allDisplays -->
      </div>

    </div><!--ph-settings-->

  </div><!--content-box-body-->
</div><!--artboard-sidebar-->
