<div class="presentation-toolbar" ng-class="{'full' : fullArtboard}">
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-default animated pulse ng-hide" ng-click="fullArtboard = !fullArtboard" ng-show="fullArtboard"><i class="fa fa-compress"></i></button>
      <button class="btn btn-default" ng-show="!fullArtboard" ng-class="{'active' : fullArtboard}" ng-click="fullArtboard = !fullArtboard"><i class="fa fa-expand"></i></button>
      <button class="btn btn-default" ng-click="openProperties()"><i class="fa fa-cog"></i></button>

    </div><!--col-sm-4-->
    <div class="col-sm-4">
      <div ng-init="designMode = true" class="btn-group btn-group-justified filters filters-inverted">
        <a ui-sref="editor.workspace.artboard" class="btn btn-default" ng-class="{'active' : designMode}" ng-click="designMode = true" >Design</a>
        <a ui-sref="editor.workspace.htmleditor" class="btn btn-default" ng-class="{'active' : !designMode}" ng-click="designMode = false"><i class="fa fa-code icon-white icon-left"></i>HTML</a>
      </div><!--btn-group-->
    </div><!--col-sm-4-->
    <div class="col-sm-4 text-right">
      <button class="btn btn-primary" ng-click="addNewPlaceHolder()">Add Placeholder <i class="fa fa-plus icon-right"></i></button>
      <button class="btn btn-default" ng-click="preview()">Preview <i class="fa fa-play icon-right"></i></button>
    </div><!--col-sm-4-->
  </div>
</div><!--presentation-toolbar-->